@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
body {
    background-image: url("./images//background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
}

.main {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 15px;
    min-height: 100vh;
}
.header {
    display: flex;
    
}
.notes__title {
    color: rgb(6, 6, 6);
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 500;
}



.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


body {
  margin: 0;
  padding: 0;
}

.boxIntro {
  margin-left:-72px;
}


.bg-image {
  opacity: 80%;
  position: absolute;
  z-index: -5;
}

.boxIntro .btnCont  {
  margin-left:480px;
  margin-top: 350px;
}


.btnCont {
  margin-left:100px;  
  margin-top: 300px;
  margin-left: 400px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  border-style: none;
  z-index: 1;
}

.btnCont:hover {
  cursor: pointer;
  background-color: skyblue
}
.btnCont2 {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin-left:10px;
  border-style: none;

}

.btnCont2:hover {
  cursor: pointer;
  background-color: skyblue
}

/* LOGIN */

.loginContainer {
  padding-top:200px;
  padding-right: 330px;
  padding-left:330px;
  padding-bottom: 220px;
  background-color: skyblue
}

.loginText {
  text-transform: uppercase;
  text-decoration: none;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  display: flex;
}

.loginText:hover {
  text-decoration: underline;
}

.inputBox {
  border: none;
  border-bottom: 1px solid #00000066;

}

.loginBox {
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 90px;
  padding-left: 100px;
}

.text-login {
  font-weight: 800;
}



/* SIGN IN */

.signinText {
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

.signinText:hover {
  text-decoration: underline;
}

.user-box {
  background-color: rgba(185, 135, 235, 0.245) ;
}

.user-container {
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

/* REGISTRATION */


.containerRegistration {
  padding-top:200px;
  padding-bottom: 320px;
  background-color: skyblue
}

.containerRegistration .formArea {
  margin-left:360px;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
}

.inputRegister {
  border: none;
  padding: 5px;
  border-bottom: 1px solid #00000066;
  width: 350px;
  margin-left: 150px;
  
}

.btnRegister {
  margin-left: 150px;
}




.welcome-text {
  font-weight: 800;
  display: flex;
  position: absolute;
  margin-top: 40px;
}

.logoutBtn {
  margin-left: 960px;
  width: 100px;
  position: relative;
}

.notesBtn {
  margin-right: 20px;
}

.homeTag {
  margin-left:220px;
  margin-top: 30px;
}

/* CREATE NOTE  */

.containerNotes {
justify-content:center;
align-items: center;
margin-top: 200px;
}

@media screen and (max-width: 1000px) {
  .containerNotes {
    margin-top: 200px;
    margin-left: -300px;
    }
}



.note {
  background: rgba(135, 207, 235, 0.471);
  backdrop-filter: blur(5px);
  box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  width: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.326);
  color: #fff;
  padding: 25px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  margin-left: 350px;
}

.createnote__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 40px;
}



.homeLabel {
  margin-left:130px;
  margin-left:130px;
  margin-top: 30px;
}

.usernameTag {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom:10px;
  margin-left: 30px;
}



/* INDIVIDUAL POST */

.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-left: 100px ;
}

.leftSide {
  flex: 100%;
  position: relative;
  height: calc(100vh - 70px);
  display: grid;
  background-color: rgba(240, 248, 255, 0.516);
}

.individual {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.individual .title,
.individual .footer {
  font-size: 30px;  
  flex: 100%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  background-color: dodgerblue;
  width: 585px;
  height: 10vh;
  color: white;
  justify-content: center;

}

.individual .body {
  font-size: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 145px;
  margin-top: 150px;
}