.notes {
  
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  margin-left: 80px;
  margin-top: 90px;
}

@media screen and (max-width: 1200px) {
  .notes {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      grid-gap: 3rem;

  }
}

@media screen and (max-width: 1000px) {
  .notes {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
      margin-top: 80px;
      margin-left: 1010px;
  }
}

@media screen and (max-width: 700px) {
  .notes {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
      margin-top: 660px;
      margin-left: 510px;
  }
}





.note-container {
  background-color: rgb(0, 0, 0);
  padding:5px;
  border: 1.5px solid rgba(255, 255, 255, 0.326);
  border-radius: 10px;
}






.note__header {
  font-size: 20px;
  margin-bottom:15px;
  font-weight: 800;

}

.note__body {
  background-color: rgb(255, 255, 255);
  padding-top:40px;
  padding-bottom:30px;
  font-weight: 500;
  border: 1.5px solid rgba(255, 255, 255, 0.326);
  border-radius: 10px;
}

.note__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}

.note textarea {
  background-color: transparent;
  border: none;
}

.note textarea:focus {
  outline: none;
}
.note textarea::placeholder {
  color: darkcyan
}

.note__save {
  background-color: rgb(158, 158, 223);
  transition: 0.1s ease-in-out;
  border: 1.5px solid #fff;
  border-radius: 5px;
  display: flex;
  position: relative;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  
}

